* {
    margin: 0;
    padding: 0;
}

body {
    height: 100svh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Portrait orientation */
@media screen and (orientation: portrait) {
    body {
      transform: rotate(0deg);
      overflow: hidden;
    }
  }
  
  /* Landscape orientation */
  @media screen and (orientation: landscape) {
    body {
      transform: rotate(-90deg);
      transform-origin: top left;
      width: 100svh;
      height: 100svw;
      overflow: hidden;
    }
  }
  

@media only screen and (max-width: 360px) {

    /* For mobiles: */
    .sec {
        width: 100%;
        height: 100svh;
        border-radius: 0;
    }

    body {
        padding-bottom: 10rem;
    }

    #br {
        display: block;
    }

    h1 {
        font-size: 70px;
    }

    .puz {
        font-size: 50px;
    }

    .pan {
        position: absolute;
    }

    .slider {
        margin-top: 10rem;
    }

    #ref {
        position: absolute;
        background-color: #ffffff00;
        cursor: zoom-in;
        border: none;
        left: 0;
        margin: 0.5rem;
    }


    #but1 {
        bottom: 65px;
    }

    #but2 {
        bottom: 125px;
        display: block;
    }

    .love {
        bottom: 35px;
    }


    :root {
        --pannel: 18rem;
        --pannela: 19rem;
        --spannel: 6rem;
        --mar: 0.5rem;
    }

}

@media only screen and (min-width: 360px) {

    /* For mobiles: */
    .sec {
        width: 100%;
        height: 100svh;
        border-radius: 0;
    }

    body {
        padding-bottom: 10rem;
    }


    h1 {
        font-size: 70px;
    }

    .puz {
        font-size: 50px;
    }

    .pan {
        position: absolute;
    }

    .slider {
        margin-top: 10rem;
    }


    #ref {
        position: absolute;
        background-color: #ffffff00;
        cursor: zoom-in;
        left: 0;
        margin: 0.5rem;
        border: none;

        height: 9rem;
        width: 9rem;

    }

    #org {
        /* display: block; */
        height: 10rem;
        width: 10rem;
        margin-bottom: 30rem;
    }

    #or {
        height: 9rem;
        width: 9rem;
    }

    #but1 {
        bottom: 65px;
    }

    #but2 {
        bottom: 125px;
        display: block;
    }

    .love {
        bottom: 35px;
    }


    :root {
        --pannel: 21rem;
        --pannela: 22rem;
        --spannel: 7rem;
        --mar: 0.5rem;
    }

}

@media only screen and (min-width: 600px) {

    /* For mobiles: */
    .sec {
        width: 100%;
        height: 100svh;
        border-radius: 0;
    }

    #br {
        display: block;
    }

    body {
        padding-bottom: 0;
    }

    h1 {
        font-size: 100px;
    }

    .puz {
        font-size: 80px;
    }

    .pan {
        position: absolute;
    }

    .slider {
        margin-top: 2.5rem;
        margin-right: 11rem;
    }

    #org {
        margin-bottom: 3.75rem;
        margin-left: 26rem;
    }

    #but1 {
        bottom: 65px;
    }

    #but2 {
        bottom: 125px;
        display: block;
    }

    .love {
        bottom: 35px;
    }



    :root {
        --pannel: 24rem;
        --pannela: 25rem;
        --spannel: 8rem;
        --mar: 0.5rem;
    }

}

@media only screen and (min-width: 670px) {
    .slider {
        margin-top: 2.5rem;
        margin-right: 15rem;
    }
    
    #br {
        display: none;
    }

    #ref {
        position: absolute;
        background-color: #ffffff00;
        cursor: zoom-in;
        left: 0;

        margin: 0.5rem;
        border: none;

        height: 13rem;
        width: 13rem;

    }

    #or {
        height: 13rem;
        width: 13rem;

    }

    .love {
        bottom: 20px;
    }

    #org {
        height: 14rem;
        width: 14rem;
        margin-bottom: 3.75rem;
        margin-left: 26rem;
    }
}

@media only screen and (min-width: 930px) {

    /* For desktop: */
    .sec {
        width: 80%;
        height: 80svh;
        border-radius: 16px;
    }

    h1 {
        font-size: 100px;
    }

    .puz {
        font-size: 80px;
    }

    .pan {
        position: relative;
    }

    .slider {
        margin-bottom: 0;
        margin-right: 0;
    }

    #ref {
        display: none;
    }

    #or {
        height: 50svh;
        width: 50svh;
    }

    #org {
        height: 51svh;
        width: 51svh;
        margin-left: 0;
    }

    #but1 {
        bottom: 50px;
    }

    #but2 {
        bottom: 95px;
        display: block;
    }

    :root {
        --pannel: 50svh;
        --pannela: 51svh;
        --spannel: 16.667svh;
        --mar: 0.5svh;
    }
}

@keyframes configure-clockwise {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes configure-xclockwise {
    0% {
        transform: rotate(45deg);
    }

    25% {
        transform: rotate(-45deg);
    }

    50% {
        transform: rotate(-135deg);
    }

    75% {
        transform: rotate(-225deg);
    }

    100% {
        transform: rotate(-315deg);
    }
}

.spinner-box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.configure-border-1 {
    width: 85px;
    height: 85px;
    padding: 3px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f0463d;
    animation: configure-clockwise 3s ease-in-out 0s infinite alternate;
}

.configure-border-2 {
    width: 85px;
    height: 85px;
    padding: 3px;
    left: -85px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #32e0c6;
    transform: rotate(45deg);
    animation: configure-xclockwise 3s ease-in-out 0s infinite alternate;
}

.configure-core {
    width: 100%;
    height: 100%;
    background-color: #202020;
}

.screen {
    height: 100svh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('backb.jpeg ');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.sec {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000077;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    border: 1px solid rgba(255, 255, 255, 0.69);
    overflow: hidden;
}

center {
    padding: 0;
}

h1 {
    margin: 0;
    font-family: "Joti One", serif;
    font-weight: 400;
    font-style: normal;
    color: #dbdbdb;
    text-shadow: 1px 1px 0px #4c4c4c;
    line-height: 70px;
    padding: 40px;
    margin-bottom: 70px;
}

.start {
    background-color: #4c4c4c;
    border-radius: 28px;
    border: 1px solid #ffffffb0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 16px 31px;
    text-shadow: 1px 1px 0px #838383;
}

.start:hover {
    background-color: #5a5a5a;
}

.start:active {
    position: relative;
    top: 1px;
}

.info {
    height: 0;
    width: 100%;
    top: -5rem;
    padding: 2rem;
    border-radius: 0 0 50% 50%;
    position: absolute;
    display: grid;
    color: #dbdbdb;
    justify-content: center;
    align-items: center;
    background: #4c4c4cc5;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(9.3px);
    border: 1px solid #ffffffc9;
    font-family: "Roboto Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    overflow: hidden;
    transition: 1s ease-in-out;
}

hr {
    border: 0.55px solid #dbdbdb;
    width: 100%;
    margin-bottom: 30px;
}

h5 {
    font-size: 20px;
}

h2 {
    font-size: 50px;
}

p {
    font-size: 20px;
}

ul {
    font-size: 20px;
}

li {
    list-style: none;
}

li::before {
    content: "\00BB  ";
    font-size: 25px;
}

.if {
    position: absolute;
    top: 25px;
    right: 25px;
    position: absolute;
    cursor: pointer;
    background-color: #4c4c4c;
    border-radius: 28px;
    border: 1px solid #ffffffb0;
    display: inline-block;
    color: #ffffff;
    font-size: 10px;
    padding: 6px 15px;
    text-shadow: 1px 1px 0px #838383;
}

.if:hover {
    background-color: #5a5a5a;
}

.love {
    position: absolute;
    font-size: 10px;
    color: #dbdbdb;
    z-index: 1;
    font-family: "Roboto Mono", monospace;
}

.game {
    justify-content: space-around;
}

.mgame {
    background-color: #4c4c4c;
    border-radius: 28px;
    border: 1px solid #ffffffb0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    justify-self: center;
    font-size: 16px;
    padding: 10px 20px;
    text-shadow: 1px 1px 0px #838383;
}

.mgame:hover {
    background-color: #5a5a5a;
}

.but {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#cl {
    display: none;
}

.pan {
    padding: 0;
    height: var(--pannela);
    width: var(--pannela);
    background: #0000004d;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.3px);
    border: 1px solid rgba(255, 255, 255, 0.69);
    font-family: "Roboto Mono";
    margin-bottom: 100px;
}

.sc {
    display: none;
}

#og {
    display: block;
}

.box {
    height: var(--pannel);
    margin: var(--mar);
    background-color: #202020;
}

.row {
    width: var(--pannel);
    height: var(--spannel);
    display: flex;
    background-color: #202020;
}

.plate,
.pl {
    width: var(--spannel);
    height: var(--spannel);
}


.main,
.load {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #ffffff;
    display: flex;
}

#ga {
    display: none;
}

#mess {
    position: absolute;
    padding: 1rem;
    width: 90%;
    color: #ffffff;
    bottom: 0;
    font-family: "Fuzzy Bubbles", sans-serif;
    font-weight: 400;
    font-style: normal;
}